.featureCardGrid {
    display: grid;
    margin-top: 2em;
    grid-gap: 2rem;
    @media screen and (min-width: $sm) {
        grid-template-columns: repeat(auto-fit, minmax(calc(50% - 2rem), 1fr));
    }
    @media screen and (min-width: $lg) {
        grid-template-columns: repeat(
            auto-fit,
            minmax(calc(33.33% - 2rem), 1fr)
        );
    }
}

.featureCardContainer {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $black;
        border-radius: 5px;
        background: rgba($black, 1);
        transition: 0.2s ease-in-out;
        transform: translate(-0.3em, -0.3em);
    }
    &:hover {
        &::before {
            transform: translate(-0.5em, -0.5em);
        }
    }
}
.featureCard {
    display: flex;
    align-items: flex-start;
    padding: 12px;
    border-radius: 5px;
    min-width: 100%;
    height: 100%;
    border: 2px solid $black;
    background-color: white;
    position: relative;
}
.featureCard__icon {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    margin: 0 12px 12px 0;
    border-radius: 5px;
    padding: 8px;
    background: $red;
    svg {
        width: 100%;
        height: 100%;
        path {
            color: white;
        }
    }
}
.featureCard__content {
    h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 4px;
    }
}
