$red: #ff6584;
$blue: #6584ff;
$purple: #9984fe;
$black: #363636;
$white: #ffffff;
$background: #F5F8F9;
$linkBlue: #23BAEC;


$grid-gutter: 30px;

$xs: 320px;
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

$header-height: 64px;

$regular: 400;
$bold: 700;

$radius: 5px;
